<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col  footer-col-1">
        <ul class="contact-list">
          <li>{{ site.title }}</li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>

      <div class="footer-col  footer-col-2">
        <!-- social media svg icons from https://simpleicons.org -->
        <a href="https://linkedin.com/in/{{ site.linkedin_username }}"><img src="/assets/socials/linkedin.svg" width="16" height="16" /></a>
        <a href="https://github.com/{{ site.github_username }}"><img src="/assets/socials/github.svg" width="16" height="16" /></a>
        <a href="https://bsky.app/profile/{{ site.bluesky_username }}"><img src="/assets/socials/bluesky.svg" width="16" height="16" /></a>
        <a rel="me" href="https://tech.lgbt/@{{ site.mastodon_username }}"><img src="/assets/socials/mastodon.svg" width="16" height="16" /></a>
        <a href="https://www.instagram.com/{{ site.instagram_username }}"><img src="/assets/socials/instagram.svg" width="16" height="16" /></a>
        <a href="https://people.apache.org/phonebook.html?uid={{ site.apache_username }}"><img src="/assets/socials/apache.svg" alt="Apache Software Foundation" height="16" width="16" /></a>
        <a href="https://x.com/{{ site.twitter_username }}"><img src="/assets/socials/x.svg" alt="Twitter/X" height="16" width="16" /></a>
      </div>

      <div class="footer-col  footer-col-3">
        <p class="text">{{ site.description }}</p>
      </div>
    </div>

  </div>

</footer>
