<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="google-site-verification" content="ZgYIt3nvigruRxVDA5N81ncl7msVezx2bCKJYWTkyX8" />
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.htmltitle }}{% endif %}</title>
  <!-- TODO: figure out how to summarize page for meta desc.
  <meta name="description" content="{% if page.tags %}{{ page.tags | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}"> -->

  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />

  <!-- Google Social Media Optimization -->
  <script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Person",
    "name": "Sean Glover",
    "url": "http://seanglover.com",
    "sameAs": [
      "https://twitter.com/seg1o",
      "https://www.linkedin.com/in/seanaglover/",
      "https://www.youtube.com/channel/UC0pGBrp0HyLyEv_YWOhxmzw",
      "https://github.com/seglo"
    ]
  }
  </script>


  {% include icons.html %}
</head>
