
/**
 * Share buttons
 */
.share-buttons {
  line-height: 1;
  width: 100%;
}

.share-button {
  float: left;
  padding-right: 10px;
}

.tw-follow-button {
  margin-top: 2px;
}

.seglo {
  border: 1px black solid;
  width: 219px;
  height: 328px;
  margin-bottom: 10px;
}

.seglo-avatar {
  padding-left: 20px;
  width: 110px;
  height: 110px;
}

.seglo-footer {
  padding-left: 80px;
  width: 40px;
  height: 40px;
}

.post-title-avatar {
  display: inline;
  vertical-align: middle;
}

.post-header-avatar {
  margin-bottom: 10px;
}

.about-header {
  float: left;
  margin-right: 20px;
  
  svg {
    margin:10px;
  }
  .social {
    width: 100%;
    text-align:center;
  }
}

.about-text {
  .headline {
    font-weight: bold;
  }
}

@include media-query($on-palm) {
  .about-header {
    float: none;
    clear: both;
    margin-right: 0px;
    text-align:center;
    
    svg {
      margin:10px;
    }
    .social {
      width: 100%;
      text-align:center;
    }
  }

  .about-text {
    .headline {
      text-align:center;
    }
  }
}

.scalator {
  width: 16px;
  height: 16px;
  margin-left: 5px;
  margin-bottom: 3px;
}

/** 
 * Site title font
 */
.randonom {
  font-family: "Helvetica Neue",sans-serif;
  font-weight: bold;
  letter-spacing: -3px;
  font-size:72px;
  font-transform:none;
}

/**
 * Talk photos
 */
.first-photo {}

.extra-photo {}

.talk-photo {
  height:156px; 
  border:1px black solid; 
  margin-right:5px;
}

@include media-query($on-palm) {
  .extra-photo {
    display: none;
    height: 0px;
  }
}