
/**
 * Share buttons
 */
.share-buttons {
  line-height: 1;
  width: 100%;
}

.share-button {
  float: left;
  padding-right: 10px;
}

.seglo {
  border: 1px black solid;
  width: 219px;
  height: 249px;
  margin-bottom: 10px;
}

.about-header {
  float: left;
  margin-right: 20px;
  
  svg {
    margin:10px;
  }
  .social {
    width: 100%;
    text-align:center;
  }
}

.about-text {
  .headline {
    font-weight: bold;
  }
}

/** 
 * Site title font
 */
.randonom {
  font-family: "Helvetica Neue",sans-serif;
  font-weight: bold;
  letter-spacing: -3px;
  font-size:72px;
  font-transform:none;
}